
<app-menu-bar></app-menu-bar>


<div class="mx-5  ">
	<div class="row">
		<div class="col-md-6 col-12  my-3  ">
			<div class="card tamano-card animate__animated animate__backInUp" >
				<img src="../../../assets/img/linkom.png" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Proyect "Link-Residencial"</h5>
				  <p class="card-text">This project was created for the Linkom company in the city of Queretaro, this hybrid mobile application was created in Ionic. In this application the user can perform different tasks such as viewing news, paying bills, selling items and many more activities.</p>
				  <h6 class="h6">Platform</h6>
				  <p class="">Android & iOS</p>

				  <h6 class="h6">Company</h6>
				  <p class="">Linkom - Sistemas & Tecnología</p>

				  <h6 class="h6">Technologies used</h6>
				  <div class="row row-cols-1 row-cols-md-5 tec-mov">


				      <div class="d-flex">
					  <i class="icon-ok-circled colo-tec"></i>
				      <h6 class="h6">TypeScript</h6>
				      </div>

				      <div class="d-flex">
					  <i class="icon-ok-circled colo-tec"></i>
				      <h6 class="h6">Angular</h6>
				      </div>


				      <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">Ionic</h6>
				    </div>

				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">PHP</h6>
				    </div>


				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">Firebase</h6>
				    </div>


				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">Sass</h6>
				    </div>

				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">Bootstrap</h6>
				    </div>

				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">MySQL</h6>
				    </div>

				    <div class="d-flex">
					<i class="icon-ok-circled colo-tec"></i>
				    <h6 class="h6">Apis</h6>
				    </div>

				      </div>

				    <button type="button" class="btn btn-outline-success"><a href="https://play.google.com/store/apps/details?id=mx.linkom.haciendarealtejeda_ionic&hl=es_MX">Go to the project</a></button>
				  <p class="card-text"><small class="text-muted">Last updated 26/11/2021</small></p>
				</div>
			      </div>


		</div>



		<div class="col-md-6 col-12  my-3 ">
			<div class="card tamano-card animate__animated animate__backInUp" >
				<img src="../../../assets/img/gif-shock.gif" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Proyect "Shock!"</h5>
					<p class="card-text">This project was This project was created for the Shock! company. It is a point of sale where products are registered in inventory, purchases are made and employees are registered.</p>
					<h6 class="h6">Platform</h6>
					<p class="">Desktop</p>
					<h6 class="h6">Technologies used</h6>
					<div class="row row-cols-1 row-cols-md-5 tec-mov">
					    <div class="d-flex">
						<i class="icon-ok-circled colo-tec"></i>
					    <h6 class="h6">C#</h6>
					    </div>

					    <div class="d-flex">
						<i class="icon-ok-circled colo-tec"></i>
					    <h6 class="h6">MySql</h6>
					    </div>

					    </div>

					  <button type="button" class="btn btn-outline-success"><a href="https://github.com/EdgarBryanLM/PuntoDeVenta-Shook.git">Go to the project</a></button>
					<p class="card-text"><small class="text-muted">Last updated 20/05/2020</small></p>

				      </div>
				    </div>



		</div>




	</div>
</div>

<div class="mx-5">
	<div class="row">
		<div class="col-md-6 col-12  my-3">
			<div class="card tamano-card animate__animated animate__backInUp" >
				<img src="../../../assets/img/gif-bload.gif" class="card-img-top" alt="...">
				<div class="card-body">
				<h5 class="card-title">Proyect "Blood Of Gamer"</h5>
				<p class="card-text">This project was developed for the blood of gamer youtube channel. On the page you can find news, articles, forums and multimedia videos all related to the world of video games. Also the page has a login where users can register.</p>
				<h6 class="h6">Platform</h6>
				<p class="">Web</p>
				<h6 class="h6">Technologies used</h6>
    <div class="row row-cols-1 row-cols-md-5 tec-mov">
        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">HTML5</h6>
        </div>

        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">CSS</h6>
        </div>
        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">Bootstrap</h6>
        </div>
        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">Javascript</h6><br>
        </div>
        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">XML</h6>
        </div>
        <div class="d-flex">
            <i class="icon-ok-circled colo-tec"></i>
        <h6 class="h6">ASP.NET</h6>
        </div>

    </div>

    <button type="button" class="btn btn-outline-success "><a href="https://github.com/CcRLyv/ProyectoWebII.git">Go to the project</a></button>
    <p class="card-text"><small class="text-muted">Last updated 23/05/2021</small></p>

			      </div>
		</div>




	</div>

	<div class="col-md-6 col-12  my-3">
		<div class="card tamano-card animate__animated animate__backInUp" >
			<img src="../../../assets/img/gif-guarderia.gif" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Proyect "Angelitos Traviesos"</h5>
				<p class="card-text">This project was created for the "Angelitos Traviesos" children's room located in Moroleon Guanajuato. The objective was to reach more clients.</p>
				<h6 class="h6">Platform</h6>
				<p class="">Web</p>
				<h6 class="h6">Technologies used</h6>

			  <div class="row row-cols-1 row-cols-md-5 tec-mov ">
				<div class="d-flex">
				    <i class="icon-ok-circled colo-tec"></i>
				<h6 class="h6">HTML5</h6>
				</div>

				<div class="d-flex">
				    <i class="icon-ok-circled colo-tec"></i>
				<h6 class="h6">CSS</h6>
				</div>
				<div class="d-flex">
				    <i class="icon-ok-circled colo-tec"></i>
				<h6 class="h6">Bootstrap</h6>
				</div>
				<div class="d-flex">
				    <i class="icon-ok-circled colo-tec"></i>
				<h6 class="h6">Javascript</h6>
				</div>
				</div>

			       <button type="button"  class="btn btn-outline-success"><a href="https://github.com/EdgarBryanLM/Proyect_Angelitos-Traviesos.git">Go to the project</a></button>
			    <p class="card-text"><small class="text-muted">Last updated 28/09/2021</small></p>
			  </div>
			</div>




	</div>
</div>
</div>

<app-footer></app-footer>
