<footer class="bg-light text-center text-lg-start">
	<!-- Grid container -->
	<div class=" p-4 footer-c bg-dark ">
	  <!--Grid row-->
	  <div class="row text-footer">
	    <!--Grid column-->
	    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
	      <h5 class="text-uppercase">Edgar Bryan Lopez Mora</h5>

	      <p>
		Computer systems engineering student and management and business development student
		  . Specialized in the development of web applications.
	      </p>
	    </div>
	    <!--Grid column-->


	    <!--Grid column-->
	    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
	      <h5 class="text-uppercase mb-0">Contact Links</h5>

	      <ul class="list-unstyled c ">
		<li>
		  <a href="https://www.facebook.com/edgarbrian.lopezmora/" class="text-light">Facebook </a>
		</li>
		<li>
		  <a href="https://www.instagram.com/edgarbryanssj/?hl=es-la" class="text-light">Instagram</a>
		</li>
		<li>
		  <a href="https://github.com/EdgarBryanLM" class="text-light">GitHub</a>
		</li>

	      </ul>
	    </div>
	    <!--Grid column-->
	  </div>
	  <!--Grid row-->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center copi p-3 bg-dark ">
	  <h6 class="center-t h6">© 2021 Copyright</h6>

	</div>
	<!-- Copyright -->
      </footer>