.menu-contacto{
	background-image: url("../../../assets/img/gif-codigo.gif");
   }

   .contacto{
       background-color: rgba(0, 0, 0, .5);
       color: white;
   }
   fondo-c{

   }
   .center-t{
       text-align: center;
       color: white;
   }
   .letras{
       color: white;
   }
   .btn-form{
       margin-top: 5%;

   }

   .red{
	text-align: center;
	margin: 0 auto;
   }

   .redes{

	justify-content: center;
	text-align: center;
	margin: 0 auto;
	 font-size: 30px;
   }
   .ct{
       color: white;
   }

   boton:hover{
       color: red;
   }