<app-menu-bar></app-menu-bar>

<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 animate__animated animate__backInLeft">
			<img src="../../../assets/img/youthGto.jpg"  class="rounded  gto mx-auto d-block" alt="...">
		</div>



		<div class="col-12 col-md-6 animate__animated animate__backInRight ">
			<div class="card-body lateral">
				<h5 class="card-title">Youth GTO</h5>
				<p class="card-text">
			I have been part of gto since 2019. Where I have learned how to work as a team in different projects that help society</p>
				<a href="http://www.educafin.com/init/redes" class="btn btn-primary btoo">What is Youth GTO
			</a>

			    </div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-12 col-md-4 mb-3 animate__animated animate__backInUp ">
			<div class="card tam ">
				<img src="../../../assets/img/y-3.jpg" height="350px" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Reforestation project
			    </h5>
				  <p class="card-text">We reforest a protected natural area in the municipality of uriangato Guanajuato.</p>
				  <p class="card-text"><small class="text-muted">Last updated 28/05/2021</small></p>
				</div>
			      </div>
		</div>

		<div class="col-12 col-md-4 mb-3 animate__animated animate__backInUp">
			<div class="card tam">
				<img src="../../../assets/img/abuelitos.jpg" height="350px" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Branding for nursing home</h5>
				  <p class="card-text">We created a brand of clothing made by senior citizens of the nursing home, all proceeds are donated 100%.</p>
				  <p class="card-text"><small class="text-muted">Last updated 28/05/2021</small></p>
				</div>
			      </div>
		</div>

		<div class="col-12 col-md-4 mb-3 animate__animated animate__backInUp">
			<div class="card tam">
				<img src="../../../assets/img/cuna.jpg" height="350px" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Cribs for low-income children</h5>
				  <p class="card-text">We create cribs to donate to underprivileged children in the region.</p>
				  <p class="card-text"><small class="text-muted">Last updated 28/05/2021</small></p>
				</div>
			      </div>
		</div>
	</div>
</div>



<app-footer></app-footer>