<div class="educacion">
        <h1 class="h1">Education</h1>
        </div>

  <div class="container">

     <div class="row">



       <div class="col-12 col-lg-6 col-md-6  col-sm-12  mt-3">
    <div class="card info-Escuela">
      <img src="../assets/img/Itsur.png" class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">Computer Systems Engineering
        </h5>
        <h6 class="card-title">Instituto Tecnológico Superior del Sur de Guanajuato</h6>
        <p class="card-text">I am currently a computer systems engineer. A career that has given me great knowledge and to which I want to dedicate myself fully in the future.</p>
        <i class="icon-location-circled">Uriangato, Guanajuato, México</i><br>
        <i class="icon-calendar-circled">August 2017 – December 2021</i><br>
        <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=http%3A%2F%2Fwww.itsur.edu.mx%2Fdocumentos_publicados%2Fcarreras%2Fing_sistemas%2FISIC-2010-224_SEMESTRAL_ESP-2016.pdf&clen=564973&chunk=true" class="btn btn-primary">Check study plan</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 col-md-6  col-sm-12  mt-3">
    <div class="card info-Escuela">
      <img src="../assets/img/uveg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
Bachelor of Business Management and Development</h5>
       <h6 class="card-title">Universidad Virtual del Estado de Guanajuato</h6>
        <p class="card-text"> This career has given me very important knowledge such as teamwork, planning projects, having effective communication among others that help me in professionalism.</p>
        <i class="icon-location-circled">Virtual school
</i><br>
        <i class="icon-calendar-circled">August 2017 – June 2021</i><br>
        <a href="https://uveg.edu.mx/index.php/es/info-lgde" class="btn btn-primary">Check study plan</a>
      </div>
    </div>


  </div>



      <div class="col-12 col-lg-6 col-md-6  col-sm-12  mt-3">
    <div class="card info-Escuela">
      <img src="../assets/img/conalep.png" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">IT technician
        </h5>
        <h6 class="card-title">CONALEP</h6>
        <p class="card-text">In this technical career, i learned many skills such as maintenance of computer equipment, programming and knowledge of networks.</p>
        <i class="icon-location-circled">Moroleon, Guanajuato, México</i><br>
        <i class="icon-calendar-circled">August 2014 – June 2017</i><br>
        <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/viewer.html?pdfurl=http%3A%2F%2Fconalepquintanaroo.edu.mx%2Fdocs%2FMC_Informatica.pdf&clen=442163&chunk=true" class="btn btn-primary">Check study plan</a>
      </div>
    </div>
</div>

    <div class="col-12 col-lg-6 col-md-6  col-sm-12  mt-3">

    <div class="card info-Escuela">
      <img src="../assets/img/capacitacion.jpg" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">Training

        </h5>
        <h6 class="card-title">COURSES</h6>
        <p class="card-text">Blockchain by Oracle</p>
        <p class="card-text">Organizational Strategic Management by UVEG</p>
        <p class="card-text">Advertising on Social Networks by UVEG</p>
        <p class="card-text">Information Technology for Business by UVEG</p>

      </div>
    </div>
</div>

</div>

</div>