.menu{
	background-color: #00b4d8;
	}
	.menu4{

	    border-radius: 20px;
	    margin-bottom: 3%;

	}
	.navbar{
	    background-color: #00b4d8;
	}
	.menu5{
	background-color: #00b4d8;
	    margin-top: 5%;
	    border-radius: 20px;
	}

	.nar{
	    background-color: #00296b;
	    color: white;
	    text-decoration-color: white;
	}
	.menu-estilos{

	}

	.alinear{
	  margin-left: 20%;

	}
	.TEXTO{
	    margin-top: 10%;
	    margin-left: 10%;
	}
	.estilos-boton{
	    margin-top: 5%;
	}

	.tblanco{
	    color: white;
	}
	.cartas{
	    height: 600px
	}
	.men2{
	background-color: #003049;
	border-radius: 20px;
	padding-left: 60px
	}

	.espacio{
	    margin-left: 10%
	}

	.men3{
	background-color: #FFF;
	 border-top-left-radius: 60px;
	}

	.Menu-escuela{
	    background-color: #003049;
	}

	.skills{

	margin-top: 25px;
	}
	.color1{
	   color: #003049;
	}
	.color2{
	   color: #00b4d8;
	}
	.skillsc{
	    color: white;
	    text-align: center
	}

	.skills-t{

	margin-top: 4%;
	    margin-left: 3%;
	    color: #01497c;

	}


	.educacion{
	    color: white;
	    text-align: center;
	}

	.skills-c{
	    color: #012a4a;
	    ;
	}
	.info-Escuela{

		height: 100%;
	}