<div class="skillsc">
        <h2 class="h2r">Technical Knowledge and Skills</h2>
        </div>



        <div class="container">

  <div class="row">

  <div class="col-12  col-md-3 mt-2">
        <div class="card float-center" >
  <img src="../assets/img/len.jpg" class="card-img-top" alt="...">
  <div class="card-body info-Escuela">
    <h5 class="card-title">PROGRAMMING LANGUAGES</h5>
  </div>
  <ul class="list-group list-group-flush">


    <li class="list-group-item">
      <div class="d-flex skills-c">
      <i class="icon-ok-circled"></i>
      <h6 class="h6">TypeScript</h6>
     </div>
  </li>

    <li class="list-group-item">
      <div class="d-flex skills-c">
      <i class="icon-ok-circled"></i>
      <h6 class="h6">JavaScript</h6>
     </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex skills-c">
    <i class="icon-ok-circled"></i>
    <h6 class="h6">C#</h6>
      </div>
</li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">JAVA</h6>

        </div>
    </li>


    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">PHP</h6>
       </div>
    </li>

  </ul>
</div>
</div>




  <div class="col-12  col-md-3 mt-2">
        <div class="card " >
  <img src="../assets/img/front-end.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Front-end Web Development</h5>
  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">HTML5</h6>
          </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">CSS3</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Javascript</h6>
       </div>
    </li>

    <li class="list-group-item">
      <div class="d-flex skills-c">
      <i class="icon-ok-circled"></i>
      <h6 class="h6"> Angular</h6>
     </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex skills-c">
    <i class="icon-ok-circled"></i>
    <h6 class="h6"> Ionic</h6>
   </div>
</li>

<li class="list-group-item">
  <div class="d-flex skills-c">
  <i class="icon-ok-circled"></i>
  <h6 class="h6">Bootstrap</h6>
 </div>
</li>

<li class="list-group-item">
  <div class="d-flex skills-c">
  <i class="icon-ok-circled"></i>
  <h6 class="h6">Animate.css</h6>
 </div>
</li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Responsive Web Design</h6>
       </div>
    </li>



  </ul>
</div>

</div>

 <div class="col-12  col-md-3 mt-2">

 <div class="card" >
  <img src="../assets/img/font.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Back-end Web Development</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">PHP</h6>

        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">ASP.NET</h6>
          </div>
    </li>

    <li class="list-group-item">
      <div class="d-flex skills-c">
      <i class="icon-ok-circled"></i>
      <h6 class="h6">Firebase</h6>

      </div>
  </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Data Base MySQL</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Data Base SQLServer</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Data Base PostgreSQL</h6>
       </div>
    </li>

     <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Data Base Oracle</h6>
       </div>
    </li>

  </ul>
</div>
    </div>



<div class="col-12  col-md-3 mt-2">
           <div class="card">
  <img src="../assets/img/habilidades.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">OTHERS SKILLS</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Adobe XD</h6>

        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Busness Management</h6>
          </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Microsoft Office</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Git</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Linux</h6>
       </div>
    </li>

     <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Computer Support And Maintenance</h6>
       </div>
    </li>

    <li class="list-group-item">
        <div class="d-flex skills-c">
        <i class="icon-ok-circled"></i>
        <h6 class="h6">Gimp</h6>
       </div>
    </li>

  </ul>
</div>


        </div>


      </div>
      </div>