.skillsc{
	color: white;
	text-align: center
    }

    .skills-t{

    margin-top: 4%;
	margin-left: 3%;
	color: #01497c;

    }


    .educacion{
	color: white;
	text-align: center;
    }

    .skills-c{
	color: #012a4a;
	;
    }